/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container styling */
.dashboard-container {
    width: 100%;
    height: 100vh;
    background-image: url('attendance.png'); /* Use the correct path */
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center; /* Center the content horizontally and vertically */
    padding: 10px;
}

/* Form styling */
.dashboard-container h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333; /* Dark text color */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

.dashboard-container form {
    width: 80%;
    max-width: 400px;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Input field styling */
label,
select,
input,
button {
    display: block;
    margin-bottom: 15px;
    width: 100%;
    border: 2px solid #333; /* Dark border color */
    border-radius: 5px;
    padding: 8px;
    box-sizing: border-box;
}

/* Adjust radio button and label display */
.attendance-group label {
    display: inline-flex;
    align-items: center;
    margin-bottom: 5px;
    color: #333; /* Dark text color */
    white-space: nowrap;
}

.attendance-group input[type="radio"] {
    margin-right: 5px;
}

/* Adjust color when radio button is checked */
#present:checked + label {
    color: #4caf50;
}

#absent:checked + label {
    color: #ff4c4c;
}

/* Button styling */
button {
    background-color: #3498db; /* Blue color */
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9; /* Darker blue on hover */
}
