/* stu_dashboard.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
}

header {
    background-color: #5295ad;
    color: #fff;
    padding: 15px;
    text-align: center;
}

.container-fluid {
    padding-top: 20px;
}

.dashboard-section {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center-align content within each section */
}

.student-info {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #333;
    text-align: right;
}

.student-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 12px;
}

/* Increase size of image in the Attendance section */
.attendance-image,
.results-image,
.job-offers-image,
.performance-image,
.leave-image {
    width: 100%; /* Set a fixed width to make all images even */
    max-width: 240px; /* Adjust the maximum width as needed */
    height: 255px; /* Set the height to 266px */
    display: block;
    margin: 0 auto;
    filter: contrast(1.2) brightness(1.1); /* Adjust values for sharpening */
}

.bottom-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.bottom-buttons a,
.bottom-buttons button {
    background-color: #87CEEB; /* Light blue */
    color: #fff;
    border: none;
    padding: 15px 25px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.bottom-buttons a:hover,
.bottom-buttons button:hover {
    background-color: #4682B4; /* Darker blue on hover */
    transform: scale(1.05);
}
